<div navbar-directive></div>

<div class="ui attached very padded text container segment" style="background-color: #D9D9D9;min-height: 100%;">
    <div class="ui middle aligned grid">
        <div class="row">
            <table class="ui very basic collapsing celled table">
                <thead>
                    <tr>
                        <th>
                            <i class="sound icon"></i> Top 10 de los álbumes más vendidos
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in favs = (albums) | orderObjectBy:'solds':true | limitTo:10">
                        <td>
                            <h4 class="ui image header">
                                <img ng-src="{{value.cover}}" class="ui mini rounded image">
                                <div class="content">
                                    {{value.name}}
                                    <div class="sub header">{{value.artist}}
                                    </div>
                                </div>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="ui very basic collapsing celled table">
                <thead>
                    <tr>
                        <th>
                            <i class="music icon"></i> Top 10 de las canciones más escuchadas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in songs | limitTo:10">
                        <td>
                            <h4 class="ui image header">
                                <img ng-src="{{value.cover}}" class="ui mini rounded image">
                                <div class="content">
                                    {{value.name}}
                                    <div class="sub header">{{value.album}}
                                    </div>
                                </div>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>